on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v3
      with:
        token: ${{ github.token }}

    - run: echo "GITHUB_ACTOR $GITHUB_ACTOR"
    - run: echo "GITHUB_JOB $GITHUB_JOB"
    - run: echo "GITHUB_REPOSITORY $GITHUB_REPOSITORY"
    - run: echo "GITHUB_WORKFLOW $GITHUB_WORKFLOW"

    - name: Setup .NET
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: 6.0.x

    - name: Install docfx
      run: dotnet tool update -g docfx