on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v3

    - run: echo "GITHUB_ACTOR $GITHUB_ACTOR"
    - run: echo "GITHUB_JOB $GITHUB_JOB"
    - run: echo "GITHUB_REPOSITORY $GITHUB_REPOSITORY"
    - run: echo "GITHUB_WORKFLOW $GITHUB_WORKFLOW"
    - run: pwd

    - name: Setup .NET
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: 6.0.x

    - name: Install docfx
      run: dotnet tool update -g docfx

    - name: Initialize docfx
      run: docfx init --quiet

    - name: Run docfx
      run: docfx "docs/docfx_project/docfx.json"

    - name: Setup Pages
      uses: actions/configure-pages@v3

    - name: Upload artifact
      uses: actions/upload-pages-artifact@v1
      with:
        path: '.' # Upload entire repository

    - name: Deploy to GitHub Pages
      id: deployment
      uses: actions/deploy-pages@v2